[submodule "plugins/A1115VCO/JUCE"]
	path = plugins/A1115VCO/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "plugins/A1115VCO/libs/sst/sst-basic-blocks"]
	path = plugins/A1115VCO/libs/sst/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks.git
[submodule "plugins/A1115VCO/libs/sst/sst-filters"]
	path = plugins/A1115VCO/libs/sst/sst-filters
	url = https://github.com/surge-synthesizer/sst-filters.git
[submodule "plugins/A1115VCO/libs/sst/sst-effects"]
	path = plugins/A1115VCO/libs/sst/sst-effects
	url = https://github.com/surge-synthesizer/sst-effects.git
[submodule "plugins/A1115VCO/libs/sst/sst-waveshapers"]
	path = plugins/A1115VCO/libs/sst/sst-waveshapers
	url = https://github.com/surge-synthesizer/sst-waveshapers.git
[submodule "plugins/FMDrone/JUCE"]
	path = plugins/FMDrone/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "plugins/FMDrone/libs/sst/sst-basic-blocks"]
	path = plugins/FMDrone/libs/sst/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks.git
[submodule "plugins/FMDrone/libs/sst/sst-filters"]
	path = plugins/FMDrone/libs/sst/sst-filters
	url = https://github.com/surge-synthesizer/sst-filters.git
[submodule "plugins/FMDrone/libs/sst/sst-effects"]
	path = plugins/FMDrone/libs/sst/sst-effects
	url = https://github.com/surge-synthesizer/sst-effects.git
[submodule "plugins/FMDrone/libs/sst/sst-waveshapers"]
	path = plugins/FMDrone/libs/sst/sst-waveshapers
	url = https://github.com/surge-synthesizer/sst-waveshapers.git
[submodule "plugins/A1115VCO/libs/simde"]
	path = plugins/A1115VCO/libs/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "plugins/DFAM/JUCE"]
	path = plugins/DFAM/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/chowdsp_utils"]
	path = libs/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils
[submodule "libs/airwin2rack"]
	path = libs/airwin2rack
	url = https://github.com/baconpaul/airwin2rack
